.wrapper{
    width:100%;
    min-height:50vh;
    padding-top:2%;
    background-color:#222831;
}
.wrapper label{
    margin-left: 10%;
    font-family: Poppins;
    font-size: 20px;
    color: aliceblue;
}
.wrapper #search{
    margin-bottom:4%;
    margin-left:1%;
    margin-right:1%;
}
.BOX{
    display: flex;
    min-height: 600px;
    flex-wrap: wrap !important;
    justify-content: flex-start;
    align-items:flex-start;
}
#nothing{
    margin: auto 10% ;
    font-size: 40px;
    text-align: center;
}
Button{
    width:10%;
}
@media screen and (max-width:425px) {
    Button{
        width:20%;
    }
    
}