
#service{
  padding: 30px 5px;
}

.sectionheading{
  padding: 0 10px 10px 0px;
}

.sectionheading > h2{
  text-align: center;
}

section > div {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.card {
  width: 86%;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(#ffffff 50%, #a9c616 50%);
  background-size: 100% 200%;
  background-position: 0 2%;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.8s;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
}
p {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.card:hover {
  background-position: 0 100%;
}
.card:hover h3 {
  color: #ffffff;
}
.card:hover p {
  color: #f0f0f0;
}
